.logIn {
    background-color: #106466;
    display: flex;
    justify-content: center;

    .title {
        display: flex;
        justify-content: center;
        color: white;
    }

    .logInForm {
        width: 500px;
    }
    
    .logInButton {
        display: flex;
        justify-content: center;
        .but { 
            width: 50%;
        }
    }
}

