.bookdetails {
    display: flex;
    height: 100%;
}

.rightContainer {
    padding: 3rem;
    padding-left: 100px;
    height: 100%;
    width: 470px;
}
.form {
    width: 50%;
    padding: 2rem;
    height: 100%;
}

.image {
    height: 500px;
    padding-bottom: 20px;
    width: 300px; 
}

.label {
    color: white;
    font-weight: bold;
}

.authors {
    display: flex;
    padding-top: 5px;
 
}

.addNew {
    display:flex;
    color: white;
    justify-content: flex-end;
    margin: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.deleteItem {
    cursor: pointer;
    font-size: 25px;
    margin-left: 10px;
}

.datepicker {
    margin-left: 10px;
}

.addButton {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}